<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>
        {% block title %}
        Welcome to KR99
        {% endblock %}
    </title>
    <link href="{{ asset('assets/css/styles.css') }}" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
<body>
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="{{ path('app_home') }}"> S99 Family</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
{#        <div class="input-group">#}
{#            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />#}
{#            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>#}
{#        </div>#}
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li><a class="dropdown-item" href="/../profil">Profil</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
                {% else %}
                <li><a class="dropdown-item" href="/register">Register</a></li>
                <li><a class="dropdown-item" href="/login">Login</a></li>
                {% endif %}
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="sb-sidenav-menu-heading">Profil Section</div>
                    <a class="nav-link" href="/../profil">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Profil
                    </a>
                    <div class="sb-sidenav-menu-heading">Leadership Section</div>
                    <a class="nav-link" href="/../dashboard">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <a class="nav-link" href="/../announcement">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Announcement
                    </a>
            {% endif %}

{#                                        <div class="sb-sidenav-menu-heading">Member Section</div>#}
{#                    <a class="nav-link" href="/calendar">#}
{#                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>#}
{#                        Calendar#}
{#                    </a>#}
{#                    <a class="nav-link" href="/../event">#}
{#                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>#}
{#                        Events#}
{#                    </a>#}
{#                    <a class="nav-link" href="{{ path('app_media') }}">#}
{#                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>#}
{#                        Media#}
{#                    </a>#}
{#                    <div class="sb-sidenav-menu-heading">Info Section</div>#}
{#                    <a class="nav-link" href="/../link">#}
{#                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>#}
{#                        Links#}
{#                    </a>#}
{#                    <a class="nav-link" href="/../contact">#}
{#                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>#}
{#                        Contact#}
{#                    </a>#}
{#                    <a class="nav-link" href="/../ticket">#}
{#                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>#}
{#                        Ticket#}
{#                    </a>#}
{#                    <a class="nav-link" href="/../info">#}
{#                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>#}
{#                        Info#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
            {% if app.user %}
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                {{ app.user.email }}
            </div>
            {% endif %}
                    </div>
            </div>
        </nav>

    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">
                    {% block PageTitle %}
                    Welcome to the S99 Website
                    {% endblock %}
                </h1>

                <div class="card mb-4">
                    <div class="card-body">
                        {% block body %}
                            <h1>Hello Members of Server 99,</h1>

                            <p>We're delighted to have you here, ready to embark on a journey of discovery, learning, and inspiration.
                                Whether you're a first-time visitor or a returning member of our vibrant community, we extend a warm embrace and
                                invite you to explore the boundless possibilities that await you. This website will be used to help our leadership
                                keep track of how many troops people have, the levels of your artifacts, and your heroes as well. You are not required
                                to keep your profiles up to date, just having the basic information is good for us, but we ask that you try to update
                                it regularly, as we will use this website to determine who out of our members will be participating in special events
                                such as the 30v30 Roots of War event.</p>

                            <h2>Directions</h2>
                            <p>First-time users, please follow these directions to get started, if you cannot find this page again after following the
                                first step then simply press the "name" in the top left corner.</p>

                            <ol>
                                <li>Create an Account: Click the icon in the top right corner to create your account.</li>
                                <li>Setup Profile Information: Fill out the information on your profile. (Alliance, Rank, Troop counts, Artifact levels,
                                    Hero levels, etc)</li>
                                <li>Take a look around: Explore the properties of the website, get familiar with it, we will be using it for a multitude
                                    of things, so figuring out what it's all about will be useful.</li>
                            </ol>

                            <h2>Contacts</h2>
                            <ul>
                                <li>Developer: Speufy</li>
                            </ul>

                            <p><em>This website is in the early stages, so expect bugs and changes to be made.</em></p>

                        {%  endblock %}
                    </div>
                </div>
                   </div>

        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Speufy 2023</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src={{ asset('assets/js/scripts.js')}}></script>
</body>
</html>
